<header>
  <h1>Data from Weather API</h1>
</header>

<main>

  <section class="solicitar" *ngIf="!datosCapture">

    <article class="textContainer">
      <article class="textItem">
        <p class="bigHelp" data-text="fbigintro">Choose a location to show the weather information</p>
      </article>
    </article>

    <article class="formContainer">

      <article class="textItem">
        <button (click)="myLocation()">Use my location</button>
        <button (click)="setLocation(sabanaLocation)">Sabana, San José Province</button>
        <button (click)="setLocation(casonaSR)">Hacienda de Santa Rosa, Guanacaste Province</button>
        <button (click)="setLocation(laroca)">La Roca Lookout</button>
      </article>

    </article>

  </section>

  <!-- ********************************************************** -->

  <section class="block" *ngIf="datosCapture">
    <section class="mostrar" style="display: grid;">

      <article class="itemInfo">

        <div class="cardHeader">
          <div class="titulo">{{datosCapture.sys.country}} - {{datosCapture.name}}</div>
          <div class="subtitulo">
            <div>
              Latitude: <span class="lat">{{datosCapture.coord.lat}}</span>
            </div>
            <div>
              Longitude: <span class="long">{{datosCapture.coord.lon}}</span>
            </div>
          </div>
        </div>

        <div class="cardBody">
          <div class="feels">Thermal sensation: <span>{{datosCapture.main.feels_like}}</span>°C</div>
          <div class="sunrise">Sunrise: <span>{{ (datosCapture.sys.sunrise * 1000) | date }}</span>h</div>
          <div class="sunset">Sunset: <span>{{(datosCapture.sys.sunset * 1000) | date }}</span>h</div>
          <div class="humidity">Humidity: <span>{{datosCapture.main.humidity}}</span>%</div>
        </div>

      </article>

      <article class="itemImg">

        <div class="temperatureItem">
          <div class="temp"><span>{{datosCapture.main.temp}}</span>°C</div>
          <div class="tempMax">Max: <span>{{datosCapture.main.temp_max}}</span>°C</div>
          <div class="tempMin">Min: <span>{{datosCapture.main.temp_min}}</span>°C</div>
        </div>

        <div class="cardImg">
          <div>
            <img [src]="defineUrlImagen()" alt="">
          </div>
          <div class="descrip">{{datosCapture.weather[0].description}}</div>
        </div>


      </article>

      <article class="mostrarFooter">
        <button (click)="copyLocation()">Copy location</button>
        <button (click)="openMaps()">Location on Google Maps</button>
        <p class="notaPie" data-text="fmostrardata">Data provided by OpenWeatherMap</p>
      </article>

    </section>
  </section>


</main>


<footer>
  Created by <a href="https://github.com/EdisMR/">EdisMR</a>
</footer>
